h1{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 50px;
}

#Info{
    width: 700px;
    height:auto;
    background-color: black ;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-90%) translateY(-35%);
    padding: 50px;
    box-shadow: 10px 10px 5px 0 rgba(5, 5, 5, 0.75);
    border-radius: 50px;
}

p{
    color: bisque;
    font-size: 20px;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 30px;
}

#pattern{
    width: 500px;
    height:700px;
    background-color: black ;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(20%) translateY(-33%);
    padding: 50px;
    box-shadow: 10px 10px 5px 0 rgba(5, 5, 5, 0.75);
    border-radius: 50px;
}

img{
    border-radius: 50px;
}