h1{
    text-align: center;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-size: 60px;
}

#Creator1{
    width: 500px;
    height: 700px;
    background-color: black ;
    top: 50%;
    left: 50%;
    transform: translateX(1%) translateY(5%);
    padding: 40px;
    box-shadow: 10px 10px 5px 0 rgba(0,0,0,0.75);
    color:blanchedalmond;
    font-family: sans-serif;
    font-style: italic;
}

#Creator2{
    width: 500px;
    height: 700px;
    background-color: black ;
    top: 50%;
    left: 50%;
    transform: translateX(-70%) translateY(20%);
    padding: 40px;
    box-shadow: 10px 10px 5px 0 rgba(0,0,0,0.75);
    color:blanchedalmond;
    font-family: sans-serif;
    font-style: italic;

}

#Creator3{
    width: 500px;
    height: 700px;
    background-color: black ;
    top: 50%;
    left: 50%;
    transform: translateX(70%) translateY(-80%);
    padding: 40px;
    box-shadow: 10px 10px 5px 0 rgba(0,0,0,0.75);
    color:blanchedalmond;
    font-family: sans-serif;
    font-style: italic;

}